<h1>Salut <%= @user.first_name.capitalize %> !</h1>
    <p>
      Nous avons bien pris en compte ton inscription à l'évènement <%= @event.title %>.
    </p>
    <p>
      Voici l'email de l'organisateur <%= @admin.email %>.
    </p>
    <p>
      Voici ton email <%= @user.email %>.
    </p>