body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}


.btn-light-custom-nav-links {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light-custom-nav-links:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-light-custom-nav-links:not(:disabled):not(.disabled):active, .btn-light-custom-nav-links:not(:disabled):not(.disabled).active {
  color: #007bff;
  background-color: white;
  border: none;
  border-radius: 0 !important;
  border-bottom: 4px solid #007bff;
}


.btn-light-custom-profile {
  color: #212529;
  background-color: white;
  border-color: white;
}

.btn-light-custom-profile:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-light-custom-profile:not(:disabled):not(.disabled):active, .btn-light-custom-profile:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #007bff;
  background-color: #E7F4FA;
  border: none;
  border-color: #d3d9df;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url('https://upload.wikimedia.org/wikipedia/commons/9/98/Soft_Sea_Mist_%28Unsplash%29.jpg') no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.container {
  margin:auto;
}

.profile_canvas {
  background: linear-gradient(#d2d2d2, white);
}

footer.footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-box{
  margin: auto;
  width: 280px;
  color: rgb(80, 70, 70);
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid rgb(255, 128, 0);
  margin-bottom: 20px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid rgb(255, 128, 0);
  display: inline-flex;

}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;

}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: rgb(80, 70, 70);
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn-login{
  width: 100%;
  background: none;
  border: 2px solid rgb(255, 128, 0);
  color: rgb(80, 70, 70);
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  width: 7rem;
  height: 3px;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}